<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Imran's Home Page</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="splash-container">
        <div class="splash-background">
            <div class="splash">  
                <div class="pure-menu-heading-2">InfoSec Architect, Developer & Futurist</div>
                <div class="pure-menu-heading-3">Business & Technology Consultant</div>
                <div class="pure-menu-heading-3">Blockhain Proponent & Web Pundit</div>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">Welcome to Imran's Realm</h2>
            <h4 class="content-head-2 is-center">Here you can find content featured from recent professional or personal endeavours. These might include projects, efforts, art, musings, or other pieces from my adventures here on Earth.</h4>
            <div class="pure-g">
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">Interested in my Builds? Check my Git:</h3>
                    <a href="https://github.com/immacmillan">
                        <p class="box1p" href="https://github.com/immacmillan"></p>
                    </a>
                </div>
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">Hi</h3>
                    <p>Interested in my Builds? Check my Git:</p>
                </div>
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">Ho</h3>
                    <p>Interested in my Builds? Check my Git:</p>
                </div>
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">Hum</h3>
                    <p>Interested in my Builds? Check my Git:</p>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</body>
</html>